@model IEnumerable<appGabrielMontoya.Models.TipoGasto>

@{
    ViewData["Title"] = "Tipos de Gasto";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Tipo de Gasto</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.TipoGastoId" class="btn btn-info btn-sm">Detalles</a>
                        <a asp-action="Edit" asp-route-id="@item.TipoGastoId" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.TipoGastoId" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
